* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/* structure components   -- start */

.mobile-alert {
    display: none;
    position: fixed;
    height: 2.5rem;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    line-height: 2.5rem;
    font-size: .4rem;
}

#shadow-box {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    z-index: 2;
    display: none;
}

#app {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box; 
    overflow: hidden;
    /* background-color: pink; */
}


/* header components    -- start */
.header {
    position: fixed;
    height: 2.5rem;
    width: 100%;
    background-color: #31c27c;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    overflow: hidden;
}

#avatar {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 2.2rem;
    position: relative;
    margin-left: .7rem;
    margin-top: .15rem;
    background-color: white;
    background-image: url('../img/zhi.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    height: 100%;
    width: 40%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5rem;
    color: white;
    font-weight: 100;
    font-size: 0.675rem;
}

.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3rem;
    /* background-color: pink; */
}
.header-nav-item {
    position: relative;
    color: white;
    font-size: 0.75rem;
    height: 100%;
    width: 50%;
    float: right;
    text-align: center;
    line-height: 2.5rem;
}

/* header components    -- end */

/* main components     -- start */
.main {
    position: fixed;
    top: 2.5rem;
    bottom: 2.5rem;
    width: 100%;
    margin: auto;
    /* background-color: black; */
    overflow: hidden;
}
.main-box {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}
.main-show {
    display: block !important;
}


/* main components     -- end */



/* footer components    -- start */
.footer {
    position: fixed;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}
.footer-box {
    height: 100%;
    width: 20%;
    margin: 1.25rem;
}
.footer-item {
    position: relative;
    height: 50%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.footer-item i {
    font-size: 1.7rem;
    color: #aaa;
}
.footer-item span {
    font-size: 0.4rem;
    color: #aaa;

}
.footer-active i, .footer-active span{
    color: #31c27c !important;
}
/* footer components    -- end */


/* structure components   -- end */




/* todo components    -- start */
#todo {
    /* background-color: red; */
    overflow-y: scroll;
    overflow-x: hidden;
}

#todo-table {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -10%);
    height: 15rem;
    width: 15rem;
    opacity: 0;
    border-radius: 0.75rem;
    background-color: white;
    border: 0px solid rgba(0, 0, 0, .1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .25);
    transition: .3s all ease-in-out;
    z-index: 10000000 !important;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.todo-table-show {
    transform: translate(-50%, -50%) !important;
    opacity: 1 !important;
    z-index: 10000000 !important;

}
.todo-table-hide {
    opacity: 0;
    transform: translate(-50%, -10%);
}

.table-header {
    position: relative;
    height: 2.5rem;
    width: 100%;
    background-color: #31c27c;
    box-shadow: 0px 0px 3px #31c27c;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
    text-align: center;
    line-height: 2.5rem;
    color: white;
    font-size: 0.75rem;
}
#table-cancel {
    height: 100%;
    width: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 2.5rem;
}


.table-main {
    height: 9rem;
    width: 13rem;
    margin: 0.5rem auto; 
    /* background-color: black; */
}
.main-input-box {
    height: 1.6rem;
    width: 100%;
    margin: 1rem auto;
}
#todo-name {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    color: #777;
}
#todo-name::placeholder {
    color: #ccc;
}

.main-priority {
    height: 1rem;
    width: 90%;
    margin: 1.5rem auto;
    font-size: 0.5rem;
    text-align: center;
    color: #777;
}
.main-priority-box {
    margin: 0px 0.5rem;
    float: right;
}
.first-priority {
    color: red;
}
.second-priority {
    color: orange;
}
.third-priority {
    color: #31c27c;
}


.main-timer {
    height: 1rem;
    width: 90%;
    margin: 0.25rem auto;
    font-size: 0.5rem;
    text-align: center;
    color: #777;
    line-height: 1rem
}
#todo-timer {
    height: .8rem;
    width: 1.25rem;
    border: 1px solid #777;
    box-sizing: border-box;
    padding: 0.125rem;
    outline: none;
}
.main-create {
    height: 1.75rem;
    width: 60%;
    margin: 1.75rem auto; 
    text-align: center;
    color: white;
    background-color: #31c27c;
    font-size: 0.65rem;
    line-height: 1.75rem;
    border-radius: 0.25rem;
}

.todo-item {
    position: relative;
    height: 2.5rem;
    width: 90%;
    /* border: 0.025rem solid #ccc; */
    margin: 20px auto;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.item-priority {
    position: relative;
    height: 100%;
    width: 7%;
    float: left;
}

.item-content {
    height: 100%;
    width: 75%;
    /* background-color: pink; */
    border: none;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 0.5rem;
}
.item-text {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: #555;
}
.item-timer {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 0.4rem;
    color: #ccc;
}

.item-button {
    height: 100%;
    width: 18%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.75rem;
}

.item-color3 {
    background-color: #31c27c !important;
}
.item-color2 {
    background-color: orange !important;
}
.item-color1 {
    background-color: red !important;
}


/* todo components    -- end */




/* competion components    -- start */
#competition {
    background-color: violet;
}
/* competion components    -- end */


/* user components    -- start */
#user {
    background-color: blue;
}
/* user components    -- end */



/* device alert  -- start */
@media screen and (min-width: 480px) {
    #app {
        display: none;
    }

    .mobile-alert {
        display: block;
    }
}
/* device alert  -- end */
